<div class="text-center">
  <h3>
    <%= link_to @post.title, post_path(id: @post.id), class: 'no-decoration' %>
  </h3>
  <small>
    Written <%= @post.created_at.strftime('%B %d, %Y') %>.
    <% if @post.tags.any? %>
      Tagged
      <% @post.tags&.each do |tag| %>
        <%= link_to(tag.name, tag_path(id: tag.id), class:'with-decoration') %>
      <% end %>
    <% end %>
  </small>
</div>
