@import "actiontext";
@import "bootstrap";
@import "select2";
@import "select2-bootstrap";

.logo-image {
  height: 300px
}
.logo-image-small {
  height: 220px
}

h2 {
  color: chocolate;
  font-weight: bold;
}
h3 {
  font-weight: bold;
}

a {
  color: inherit;
}

.no-decoration {
  text-decoration: none;
}

.with-decoration {
  font-weight: bold;
  text-decoration: none;
}
.with-decoration:link {
  border-bottom: 4px solid chocolate;
}
.with-decoration:visited {
  border-bottom: 4px solid chocolate;
}
.with-decoration:hover {
  border-bottom: 4px solid chocolate;
}

* {
  font-family: "American Typewriter"
}

.footer {
  margin-top: 36px;
}

.select2-selection {
  width: 400px
}