@import "bootstrap";

.logo-image {
  height: 300px
}

h2 {
  color: chocolate;
  font-weight: bold;
}

a {
  color: inherit;
}

.no-decoration {
  text-decoration: none;
}

.with-decoration {
  font-weight: bold;
  text-decoration: none;
}
.with-decoration:link {
  border-bottom: 4px solid chocolate;
}
.with-decoration:visited {
  border-bottom: 4px solid chocolate;
}
.with-decoration:hover {
  border-bottom: 4px solid chocolate;
}

* {
  font-family: "American Typewriter"
}